<?xml version="1.0" encoding="UTF-8"?>

<web-app id="WebApp"
		 version="2.5"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>BIGRWeb</display-name>
	<servlet>
		<servlet-name>LibraryDispatch</servlet-name>
		<servlet-class>com.ardais.bigr.es.servlets.Dispatch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ORMDispatch</servlet-name>
		<servlet-class>com.ardais.bigr.orm.servlets.Dispatch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DDCDispatch</servlet-name>
		<servlet-class>com.ardais.bigr.pdc.servlets.Dispatch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DDCMultiDispatch</servlet-name>
		<servlet-class>com.ardais.bigr.pdc.servlets.MultipartDispatch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DDCAttachWriter</servlet-name>
		<servlet-class>com.ardais.bigr.pdc.servlets.AttachmentWriter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ILTDSDispatch</servlet-name>
		<servlet-class>com.ardais.bigr.iltds.servlets.Dispatch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DispatchLogin</servlet-name>
		<servlet-class>com.ardais.bigr.orm.servlets.DispatchLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.ardais.bigr.lims.servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BigrActionServlet</servlet-name>
		<servlet-class>com.ardais.bigr.web.servlet.BigrActionServlet</servlet-class>
        <init-param>
          <param-name>config</param-name>
          <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
          <param-name>convertNull</param-name>
          <param-value>true</param-value>
        </init-param>
        <init-param>
          <param-name>debug</param-name>
          <param-value>0</param-value>
        </init-param>
        <init-param>
          <param-name>detail</param-name>
          <param-value>0</param-value>
        </init-param>
        <init-param>
          <param-name>validating</param-name>
          <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LibraryDispatch</servlet-name>
		<url-pattern>/library/Dispatch</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ORMDispatch</servlet-name>
		<url-pattern>/orm/Dispatch</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>DDCDispatch</servlet-name>
		<url-pattern>/ddc/Dispatch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DDCMultiDispatch</servlet-name>
		<url-pattern>/ddc/MultipartDispatch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DDCAttachWriter</servlet-name>
		<url-pattern>/ddc/AttachmentWriter</url-pattern>
	</servlet-mapping>				
	<servlet-mapping>
		<servlet-name>ILTDSDispatch</servlet-name>
		<url-pattern>/iltds/Dispatch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DispatchLogin</servlet-name>
		<url-pattern>/orm/DispatchLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/lims/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BigrActionServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>htc</extension>
		<mime-type>text/x-component</mime-type>
	</mime-mapping>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>/tld/struts-bean</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/struts-html</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/struts-logic</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/struts-template</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-template.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/bigr</taglib-uri>
			<taglib-location>/WEB-INF/tld/bigr.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/datetime</taglib-uri>
			<taglib-location>/WEB-INF/tld/datetime.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/kctaglib</taglib-uri>
			<taglib-location>/WEB-INF/tld/kctaglib.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/gboss</taglib-uri>
			<taglib-location>/WEB-INF/tld/gboss.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tld/json</taglib-uri>
			<taglib-location>/WEB-INF/tld/json.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>
